<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="folder_imagen_pokemon" value="C:\Users\jrmol\OneDrive\Desktop\Imagenes Sql\PokeApp"/>
	</appSettings>
</configuration>